img{
    height:30 px;
    width:10 px;
}
.text{
    color: white;
}
*{
    text-align: center;
}
html{
    background-color: burlywood;
}
#link1{
    color:rgb(0, 102, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 100;
}
#link2{
    color:rgb(0, 102, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 100;
}
#link3{
   color:rgb(0, 102, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 100;
}
#link4{
    color:rgb(0, 102, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 100;
}