.text{
    color: black;
    font-family: "Caacupe One", sans-serif;
    font-weight: bolder;
    font-style: normal;
}

*{
    text-align: center;
}
html{
    background-color: burlywood;
}
#link1{
    color:rgb(0, 102, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 100;
}
#link2{
    color:rgb(0, 102, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 100;
}
#link3{
   color:rgb(0, 102, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 100;
}
#link4{
    color:rgb(0, 102, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 100;
}
#monospace {
    font-family: monospace;
}

.MonoSize{
    font-size:x-large ;
    font-weight: 400;
}

.Maintext{
    color: black;
    font-family: "Caacupe One", sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: xxx-large;
}

.img{
    height:auto;
    width:600px;
}